<app-navbar></app-navbar>
<div class="container">
  <div class="title">
    <h1>Lista</h1>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Digite Seu Nome</span>
      </div>
      <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <p>Escolha um produto que deseja nos presentear: </p>
  </div>

  <table mat-table [dataSource]="list || []" matSort class="mat-elevation-z8 test-table">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let item">
        <mat-checkbox (change)="onSelectItem(item, $event)"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Quantidade Column -->
    <ng-container matColumnDef="number" >
      <mat-header-cell *matHeaderCellDef> Qtde </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{ item.number }} </mat-cell>
    </ng-container>

    <!-- Produto Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Produto </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{ item.title }} </mat-cell>
    </ng-container>

    <!-- Header and Row Definitions -->
    <mat-header-row *matHeaderRowDef="['select', 'number', 'title']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['select', 'number', 'title']"></mat-row>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>

  <div class="quantity-input-container">
    <div class="quantity-input" *ngFor="let selectedItem of selectedItems">
      <label for="quantity-{{ selectedItem.item.id }}" class="form-label">Quantidade para {{ selectedItem.item.title }}:</label>
      <select
        id="quantity-{{ selectedItem.item.id }}"
        [value]="selectedItem.quantity"
        (change)="onQuantityChange(selectedItem.item, $event)"
        class="form-select form-select-sm select-small"
      >
        <option *ngFor="let option of getQuantityOptions(selectedItem.item.number)" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>
  </div>


  <div class="button">
    <button mat-raised-button color="primary">Enviar</button>
  </div>
</div>
