.navbar-light .navbar-nav .nav-link.active-link{
  color: #636851;
  font-weight: bold;
}

.navbar{
  background-color: #A0B179;
  background-image: none;
}



.nav-link{
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
}
