.navbar{
  background:linear-gradient(rgb(160, 177, 121), rgb(200, 204, 149));
  background-blend-mode: overlay; /* Combina o gradiente e a textura */}

.nav-link{
  color: #614124;
  font-family: 'Glacialfont', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
