.navbar-light .navbar-nav .nav-link.active-link{
  color: #636851;
  font-weight: bold;
}

.navbar{
  background:
    linear-gradient(to left, rgb(160, 177, 121), rgb(200, 204, 149)), /* Gradiente */
    url('/assets/img/TEXTURE.png'); /* Caminho correto para a imagem */
  background-blend-mode: overlay; /* Combina o gradiente e a textura */}

.nav-link{
  color: white;
  font-family: 'Glacialfont', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
