.thanks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: "Glacialfont", sans-serif;
    padding-bottom: 2rem;
  }

.msg {
    margin-top: 10em;
}

.assinatura{
    font-family: 'Myfont', 'sans-serif';
}