<div class="home">
  <div class="banner-right"></div>
  <div class="banner-left-inferior"></div>
  <div class="bible-text">
    <div class="centered-text up-position">
      <p class="verse">
        “Ame o Senhor, o seu Deus, de todo o seu coração, <br>
        de toda a sua alma e de todas as suas forças. <br>
        Que todas estas palavras que hoje lhe ordeno estejam em seu coração.“</p>
      <p class="cap">Deuteronômio 41:20</p>
    </div>
  </div>
  <div class="msg-center">
    <div class="centered-text middle-position">
      <h1>Samuel e Mariana</h1>
      <p class="invite">Convidam para a cerimônia</p>
      <p class="date">08 Fevereiro, 2025 às 15:30</p>
    </div>
  </div>

  <div class="container">
    <div class="menu-itens">
      <div class="menu-item">
        <a href="#" class="link-menu" data-bs-toggle="modal" data-bs-target="#igreja">
          <img class="img-menu" src="assets\img\home\igreja.png" alt="">
          <p class="card-text text-home">Igreja</p>
        </a>
      </div>
      <div class="menu-item">
        <a href="#" class="link-menu" routerLink="/lista-casamento">
          <img class="img-menu" src="assets\img\home\presente.png" alt="">
          <p class="card-text text-home">Presentes</p>
        </a>
      </div>
    </div>

    <div class="contagem">
          <div class="item">
            <span id="dias" class="valor"></span>
            <span class="unidade">dias</span>
          </div>
          <div class="item">
            <span id="horas" class="valor"></span>
            <span class="unidade">horas</span>
          </div>
          <div class="item">
            <span id="minutos" class="valor"></span>
            <span class="unidade">minutos</span>
          </div>
          <div class="item">
            <span id="segundos" class="valor"></span>
            <span class="unidade">segundos</span>
          </div>
        </div></div>
  </div>

  <!-- Modal Igreja-->
  <div class="modal fade" id="igreja" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modalH">
          <h5 class="modal-title text-center" id="exampleModalLabel">Vamos à Igreja!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="">
          <img src="assets\img\candelaria.png" class="card-img-top imgModal" alt="...">
          <p class="card-text place text-center">Paróquia Nossa Senhora Da Candelária</p>
          <p class="card-text address text-center">R. Castro Alves, 781 - Cerâmica,São Caetano do Sul </p>
        </div>
        <div #container class="modal-footer modalF">
          <a>
            <button  ngxClipboard [cbContent]="'Paróquia Nossa Senhora Da Candelária R. Castro Alves, 781 - Cerâmica, São Caetano do Sul '" [container]="container" type="button" class="btn btn-primary"><i class="fa fa-files-o" aria-hidden="true"></i> Copiar Endereço</button>
          </a>
          <a href="https://m.uber.com/ul/?action=setPickup&client_id=92wsifyVsfgPdvUuR_xBSuKcKaSKlWB1cDxri9ak&pickup=my_location&dropoff[formatted_address]=R.%20Castro%20Alves%2C%20781%20-%20Cer%C3%A2mica%2C%20S%C3%A3o%20Caetano%20do%20Sul%20-%20SP%2C%20Brasil&dropoff[latitude]=-23.626986&dropoff[longitude]=-46.568577" target="_blank">
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal"><i class="fa-brands fa-uber"></i> Vou de uber
            </button>
          </a>
          <a href="https://www.google.com/maps?q=R.+Castro+Alves,+781,+Cerâmica,+São+Caetano+do+Sul,+SP,+09540-030" target="_blank">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal"><i class="fa fa-map-marker" aria-hidden="true"></i> Abrir no Maps
            </button>
          </a>
          <a href="https://ul.waze.com/ul?place=ChIJi8k9O8RczpQRjZvL79qp43w&ll=-23.62698590%2C-46.56857680&navigate=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location" target="_blank">
            <button type="button" class="btn btn-secondary btn-waze" data-bs-dismiss="modal"><i class="fa-brands fa-waze"></i> Abrir no Waze</button>
          </a>
        </div>
      </div>
    </div>
  </div>
