<div class="home">
  <div class="banner-left-inferior"></div>

  <mat-card class="bg-image-card">
    <div class="overlay" >
      <div class="text-initial" style="display: flex">
        <div class="content-center" >
          <h1>Samuel e Mariana</h1>
          <p class="invite">Convidam para a cerimônia</p>
          <p class="date">08 Fevereiro, 2025 às 15:00</p>
        </div>
      </div>

    <button
      type="button" style="position: fixed;
    bottom: 25px;
    right: 30px;
    background: #3B784E;
    border-color: #3B784E;
    width: 8vh;
    height: 5vh;
    transition: all 0.4s;"
      class="btn btn-primary back-to-top"
      id="btn-back-to-top"
      (click)="scrollToContent()">
      <i class="bi" [ngClass]="isAtBottom ? 'bi-arrow-up' : 'bi-arrow-down'"></i>
    </button>
    </div>
  </mat-card>

    <div #content class="container">

      <ngb-carousel class="slider" [interval]="5000">

        <ng-template  ngbSlide>
          <div class="text" style="text-align: center">
            <p class="verse">
              “Ame o Senhor, o seu Deus, de todo o seu coração, <br>
              de toda a sua alma e de todas as suas forças. <br>
              Que todas estas palavras que hoje lhe ordeno estejam em seu coração.“</p>
            <p class="cap">Deuteronômio 6:5-6</p>
          </div>
        </ng-template>

        <ng-template  ngbSlide>
          <div class="picsum-img-wrapper">
            <img  src="../../../assets/img/casal/aliancas1.jpeg">
          </div>
        </ng-template>

        <ng-template  ngbSlide>
          <div class="picsum-img-wrapper">
            <img  src="../../../assets/img/casal/outra1.jpeg">
          </div>
        </ng-template>
      </ngb-carousel>

      <div class="img-verse">
        <div class="photo1"></div>

        <mat-card class="photo-card">
          <mat-card-content>
            <p class="verse">
              “Ame o Senhor, o seu Deus, de todo o seu coração, <br>
              de toda a sua alma e de todas as suas forças. <br>
              Que todas estas palavras que hoje lhe ordeno estejam em seu coração.“</p>
            <p class="cap">Deuteronômio 6:5-6</p>
          </mat-card-content>
        </mat-card>

        <div class="photo2"></div>
      </div >


      <div class="menu-itens">
        <div class="menu-item">
          <a href="#" class="link-menu" data-bs-toggle="modal" data-bs-target="#igreja">
            <img class="img-menu" src="assets\img\home\igreja.png" alt="">
            <p class="card-text text-home">Igreja</p>
          </a>
        </div>
        <div class="menu-item">
          <a href="#" class="link-menu" data-bs-toggle="modal" data-bs-target="#avisos">
            <img class="img-menu" src="assets\img\home\avisos.png" alt="">
            <p class="card-text text-home">Avisos</p>
          </a>
        </div>
        <div class="menu-item">
          <a href="#" class="link-menu" routerLink="/lists">
            <img class="img-menu" src="assets\img\home\presente.png" alt="">
            <p class="card-text text-home">Presentes</p>
          </a>
        </div>
      </div>

      <div class="contagem">
        <div class="item">
          <span id="dias" class="valor"></span>
          <span class="unidade">dias</span>
        </div>
        <div class="item">
          <span id="horas" class="valor"></span>
          <span class="unidade">horas</span>
        </div>
        <div class="item">
          <span id="minutos" class="valor"></span>
          <span class="unidade">minutos</span>
        </div>
        <div class="item">
          <span id="segundos" class="valor"></span>
          <span class="unidade">segundos</span>
        </div>
      </div>
    </div>
</div>


  <!-- Modal Igreja-->
  <div class="modal fade" id="igreja" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modalH">
          <h5 class="modal-title text-center" id="exampleModalLabel">Vamos à Igreja!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-igreja">
          <img src="assets\img\templo.png" class="card-img-top imgModal" alt="...">
          <p class="card-text place text-center">Igreja Batista Bíblica</p>
          <p class="card-text address text-center">R. Francisco Ernesto do Rêgo, S/N - Cruzeiro, Campina Grande</p>
        </div>
        <div #container class="modal-footer modalF">
          <a>
            <button  ngxClipboard [cbContent]="'Igreja Batista Bíblica R. Francisco Ernesto do Rêgo, S/N - Cruzeiro, Campina Grande'" [container]="container" type="button" class="btn btn-primary"><i class="fa fa-files-o" aria-hidden="true"></i> Copiar Endereço</button>
          </a>
          <a href="https://maps.app.goo.gl/3FQzrne2kTDowvj6A" target="_blank">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal"><i class="fa fa-map-marker" aria-hidden="true"></i> Abrir no Maps
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="avisos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modalH">
          <h5 class="modal-title text-center" id="exampleModalLabel">Avisos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-igreja">
          <img src="assets\img\evite.png" class="card-img-top imgModal" alt="...">
        </div>
      </div>
    </div>
  </div>