.home .banner-right {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url(../../../assets/img/home/florT.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.photo1{
  background-image: url(../../../assets/img/casal/outra.jpeg);
  width: 80vw; /* Ocupa 80% da largura da viewport */
  height: calc(80vw * 4 / 3); /* Mantém uma proporção de 3:4 (400px/300px) */
  max-width: 300px; /* Limita o tamanho máximo em telas maiores */
  max-height: 400px;
  background-size: cover; /* ajusta a imagem para cobrir o container */
  background-position: center;
  box-shadow: 10px 10px 10px #bfdfc8; /* Adiciona sombra para efeito de elevação */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
}

.photo2{
  background-image: url(../../../assets/img/casal/aliancas.jpeg);
  width: 80vw; /* Ocupa 80% da largura da viewport */
  height: calc(80vw * 4 / 3); /* Mantém uma proporção de 3:4 (400px/300px) */
  max-width: 300px; /* Limita o tamanho máximo em telas maiores */
  max-height: 400px;
  background-size: cover; /* ajusta a imagem para cobrir o container */
  background-position: center;
  box-shadow: 10px 10px 10px #bfdfc8; /* Adiciona sombra para efeito de elevação */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
}

.bg-image-card {
  position: relative;
  background-image: url('/assets/img/casal/oficial.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slider {
  margin: 0 auto; /* centraliza o carrossel */
}

.picsum-img-wrapper img {
  width: 100%;
  height: 15rem;
  object-fit: contain; /* faz a imagem se ajustar ao contêiner */
  background-color: #f0f0f0; /* cor de fundo opcional para as áreas vazias */
}


.container {
  padding-top: 4rem;
  height: 100vh;
}

.overlay {
  background-color: rgba(145, 159, 144, 0.3); // Sombra para destacar o texto
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-center h1 {
  font-size: 7em;
  font-family: 'Myfont', 'sans-serif';
}

.invite, .date {
  font-size: 1.5em;
  margin: 0;
}


.photo-card {
  max-width: 24%;
  margin: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  justify-content: center;

}

.home .banner-left-inferior {
  width: 33%;
  height: 100%;
  background-image: url(../../../assets/img/home/florT2.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  bottom: 0;
  right: 0;
  background-position: bottom;
}

.general {
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Glacialfont", sans-serif;
  padding-bottom: 2rem;
  color: #ffffff;
}

.bible-text {
  display: flex;
  padding: 2.5rem;
  line-height: 1.2;
  font-size: 20px;
}

.middle-position{
  padding-top: 3rem;
}

.invite {
  font-size: 20px;
  margin: 35px 0 20px 0;
  font-style: normal;
  text-transform: uppercase;
}

.date{
  text-transform: uppercase;
  font-size: 25px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  display: inline-block;
  padding: 20px;
}

.menu-itens {
  display: flex;
  justify-content: center;
  z-index: 10;
  position: relative;
}

.menu-item{
  padding: 30px;
}

.img-menu {
  transition: transform 0.5s ease-in-out;
}

.menu-item:hover .img-menu {
  transform: scale(1.2);
}

a{
  text-decoration: none;
}

.text-home{
  font-size: 20px;
  margin-top: 20px;
  line-height: 0;
  color: #614124;
  text-align: center;
}

.img-menu {
  width: 100%;
  max-width: 9rem;
}

.contagem {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.item {
  width: 90px;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.1);
  border: 5px solid rgba(255,255,255,0.3);
  margin: 12px;
}

.valor {
  font-size: 30px;
  font-weight: bold;
  color: #6f6f64;
}

.unidade {
  font-size: 12px;
  color: #666;
  font-weight: bold;
}

/* Esconde o carrossel em telas maiores que 768px */
.slider {
  display: none !important;
}

.img-verse {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

@media(max-width: 990px){
  .slider {
    width: 31vh;
    height: 15rem;
    display: block !important;
  }

  .img-verse {
    display: none !important;
  }
}

@media (min-width: 800px) and (max-width: 1330px) {
  .bible-text{
    font-size: 12px;
  }

  .invite {
    font-size: 17px;
  }

  .date{
    font-size: 20px;
  }

  .text-home{
    font-size: 18px;
  }

  .img-menu {
    max-width: 9rem;
  }

  .valor {
    font-size: 25px;
  }
}

@media (max-width: 799px) {

  .bg-image-card {
    background-image: url('/assets/img/casal/oficial2.png');
  }

  .home .banner-left-inferior {
    width: 65%;
  }

  .contagem {
    margin-top: 1rem;
  }

  .bible-text{
    font-size: 12px;
  }

  .content-center h1 {
    font-size: 4.5em;
  }

  .invite {
    font-size: 12px;
  }

  .date{
    font-size: 15px;
  }

  .text-home{
    font-size: 14px;
  }

  .img-menu {
    max-width: 65px;
  }

  .item {
    width: 60px;
    height: 60px;
  }

  .valor {
    font-size: 15px;
  }

  .unidade {
    font-size: 8px;
  }
}

@media (max-width: 500px) {
  .home .banner-left-inferior {
    width: 100%;
  }

  .up-position{
    font-size: 8px;
  }

  .content-center h1 {
    font-size: 3em;
  }

  .invite {
    font-size: 12px;
  }

  .date{
    font-size: 16px;
  }
}

/*Modal Igreja*/
.modal {
  font-family: "Glacialfont", sans-serif;
}

.place{
  margin-bottom: 6px;
}

.address{
  padding: 0 12px 0 12px;
  font-weight: bold;
  margin-bottom: 10px;
}

.imgModal{
  padding: 0 12px 12px;
}

.modalH{
  border-bottom: none;
}

.modalF{
  display: inline;
  flex-shrink: 0;
  border-top: none;
  text-align: center;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: flex-end;
  padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap)* .5);
  background-color: var(--bs-modal-footer-bg);
  border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
  border-bottom-right-radius: var(--bs-modal-inner-border-radius);
  border-bottom-left-radius: var(--bs-modal-inner-border-radius);
}
