/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Myfont';
  src: url('assets/fonts/Better_Saturday.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glacialfont';
  src: url('assets/fonts/GlacialIndifference-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*
{
  padding: 0;
  margin: 0;
}

:root{
  --first-color: blueviolet;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(assets/img/test/6.webp), url(assets/img/test/7.webp); /* Segunda imagem adicionada */
  background-color: #f8fbca;
  background-size: cover, contain; /* Primeira imagem cobre, segunda se ajusta */
  background-position: center top, center bottom; /* Posiciona a primeira imagem no topo e a segunda no fundo */
  background-repeat: no-repeat, repeat-y; /* A primeira imagem não se repete, a segunda repete verticalmente */
  background-attachment: fixed;
  min-height: 100vh; /* Garante que o corpo ocupe ao menos 100% da altura da tela */
}


@media (max-width: 700px) {
  body {
    background-color: #f8fbca; /* Certifique-se de que a cor de fundo esteja visível */
    background-size: cover; /* Ou 'contain' dependendo do efeito desejado */
    background-position: center;
    background-image: url(assets/img/phone_texture3.webp);
  }
}
